# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# PyCharm
*.iml

# Migrations (если не нужны)
# */migrations/*
# !*/migrations/__init__.py